<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conggua.springboot3.server.g.mapper.CrmCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.conggua.springboot3.server.g.model.entity.CrmCompany">
        <id column="id" property="id" />
        <id column="brief" property="brief" />
        <result column="company_name" property="companyName" />
        <result column="region" property="region" />
        <result column="website" property="website" />
        <result column="company_location" property="companyLocation" />
        <result column="sell_location" property="sellLocation" />
        <result column="storage_location" property="storageLocation" />
        <result column="source_id" property="sourceId" />
        <result column="status_id" property="statusId" />
        <result column="grade_id" property="gradeId" />
        <result column="quality_level_id" property="qualityLevelId" />
        <result column="type_id" property="typeId" />
        <result column="first_linkman" property="firstLinkman" />
        <result column="first_experience" property="firstExperience" />
        <result column="last_linkman" property="lastLinkman" />
        <result column="last_contact_log" property="lastContactLog" />
        <result column="plan_deal_time" property="planDealTime" />
        <result column="next_followup_time" property="nextFollowupTime" />
        <result column="off_season_situation" property="offSeasonSituation" />
        <result column="peak_season_situation" property="peakSeasonSituation" />
        <result column="next_year_situation" property="nextYearSituation" />
        <result column="result_analysis" property="resultAnalysis" />
        <result column="follow_up_summary" property="followUpSummary" />
        <result column="introduction_linkman_id" property="introductionLinkmanId" />
        <result column="introduction_relationship" property="introductionRelationship" />
        <result column="introduction_will" property="introductionWill" />
        <result column="intention" property="intention" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="checked" property="checked" />
        <result column="salesman_id" property="salesmanId" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_name, region, website, company_location, sell_location, storage_location, source_id, status_id, grade_id, quality_level_id, type_id, first_linkman, first_experience, last_linkman, last_contact_log, brief, plan_deal_time, next_followup_time, off_season_situation, peak_season_situation, next_year_situation, result_analysis, follow_up_summary, introduction_linkman_id, introduction_relationship, introduction_will, intention, create_by, create_time, update_by, update_time, deleted, checked, salesman_id
    </sql>
</mapper>